# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/.vs/MotionManipulation/v14
/MotionManipulation/Debug/MotionMa.1BCDA6D6.tlog
*.log
*.idb
*.pdb
*.opendb
*.sdf
*.filters
/MotionManipulation/x64/Debug/MotionMa.1BCDA6D6.tlog
*.ilk
MotionManipulation/MotionManipulation.vcxproj.user
